:root {
    --first-color: rgb(244, 151, 142);
    --first-alpha-color: rgba(244, 151, 142, 0.75);
    --second-color: rgb(251, 196, 171);
    --second-alpha-color: rgba(251, 196, 171, 0.75);
    --third-color: rgb(248, 224, 202);
    --third-alpha-color: rgba(248, 224, 202, 0.75);
    --font-first-color: rgb(33, 37, 41);
    --font-second-color: rgb(108, 117, 125);
      
    --link-color: rgb(33, 37, 41);
    --link-alpha-color: rgba(33, 37, 41, 0.75);
  
    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
  
    --first-font-family: 'Public Sans', sans-serif;
    --second-font-family: 'Urbanist', sans-serif;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }



/* HEADER */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    transition: 0.6s;
    padding: 20px 150px;
    z-index: 10000;
  }

  
  header.sticky {
    padding: 20px 150px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    padding: 0;
  }
  
  .header-list li a {
    color: #fff;
    font-family: var(--first-font-family);
    display: flex;
  }
  
  .header-list li a:hover {
    color: var(--first-color);
  }
  
  .header-list a.active {
    color: var(--first-color);
  }
  
  .header-list .items {
    font-size: 0.9rem;
  }
  
  .header-list .icons i {
    font-size: 1.2rem;
  }
  
  .items,
  .icons {
    display: flex;
    gap: 20px;
  }
  
  

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6) 0%, rgba(5, 5, 5, 0.6) 100%), url("../assets/img/escritorio.jpg");
  background-size: cover;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}


/*Florencia Ceresa - Diseñadora y desarrolladora web*/
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: var(--first-font-family);
  font-size: 1.3rem !important; 
  white-space: pre-line;
  text-align: center;
  line-height: 2.3rem;
}

span {
  font-family: var(--second-font-family);
  font-size: 2rem;
}


/* BANNER PAGE ABOUT */
.banner-pink {
  width: 100%;
  height: 30vh;
  background-color: var(--third-color);
}




  /* ABOUT */
  .container-section {
    width: 95%; 
    margin: 0 auto; 
    padding: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-family: var(--first-font-family);
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  p {
    font-family: var(--first-font-family);
    font-size: 1rem;
    padding-top: 1rem;
    white-space: pre-line;  
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
 

 /*Botón leer más*/
 #btn-1 { 
    color: var(--first-color);
    border: 1px solid var(--first-color);
    margin-top: 1.5rem;
  }

  /*Botón:hover leer más*/
  #btn-1:hover { 
    color: #fff;
    background-color: var(--first-color);
  }

 



   /* SKILLS */
  #skills {
    background: var(--third-color);
  }

  .skills {
    display: flex;
    margin-top: 4rem;
    text-align: center;
    justify-content: space-between;
    gap: 5rem;
  }

  .skills i {
    font-size: 2rem;
  }

  h3 {
    font-family: var(--first-font-family);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.8rem;
  }






   /* PORTFOLIO */
  .projects {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .projects > div {
    width: 30%;   
    gap: 1rem;
    margin-top: 3rem;
  }


  .img-project {
    max-width: 100%; 
    height: auto; 
    border-radius: 4px;
  }
  
  
  h4 {
    font-family: var(--first-font-family);
    margin-top: 1rem;
  }
 
  a {
    font-family: var(--first-font-family);
    color: var(--font-first-color);
    text-decoration: none;
  }

  a:hover {
    color: var(--first-color);
  }


    /* MAS PROYECTOS */
    div.container-section.projects {
      padding-top: 0;
      margin-top: 0;
    }


    .projects .see-more-projects {
      justify-content: flex-start;
      display: flex;
    }


    .projects .see-more-projects > div {
    width: 30%;   
    margin-top: 3rem;
    margin-right: 3rem;
    }
    





  /* MODAL */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;

  }

  .modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
  }

  .modal-container {
    margin: auto;
    width: 90%;
    height: 75vh;
    background-color: #fff;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    margin-top: 8rem;
    padding: 30px;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    position: relative;
  }

  .modal-img {
    width: 40%;
    border-radius: 6px;
  }

  .modal-title {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .modal-paragraph {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .see-project {
    font-size: 0.9rem;
    
  }

  




     /* CONTACT */
     #contact {
        background: var(--second-color);
     }

     .contact-item {
      display: flex;
      margin-top: 4rem;
     }

     .location,
     .email {
      display: block;
      margin-bottom: 2rem;
     }

     #contact a:hover {
      color: #fff;
     }

     .contact-form {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
     }

     .input-form, textarea {
      display: block;
      width: 100%;
      padding: 0.2rem;
      border-radius: 3px;
     }

     .input-form {
      height: 2.2rem;
     }

     label {
      margin-bottom: 0.5rem;
     }

     .contact-form-response {
      font-weight: bold;
     }

     .contact-form [required]:valid {
      border: 2px solid var(--first-color);
     }

     .contact-form [required]:invalid {
      border: 1px solid gray;
     }

     .contact-form-error {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      transition: all 800ms ease;
     }

     .contact-form-error.is-active {
      display: block;
      animation: show-message 1s 1 normal 0s ease-out both;
     }
     
     .none {
      display: none;
     }

     .btn-contact {
      margin-top: 1rem;
     }

     @keyframes show-message {
      0% {
        visibility: hidden;
        opacity: 0;
      }

      100% {
        visibility: visible;
        opacity: 1;
      }
     }


    .email-bold {
      font-weight: bold;
    }



     /* FOOTER */
     footer {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100px;
     }

     








/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  /* HEADER */
  /* BOTON HAMBURGUESA */
  
  
  .bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .bar.clicked {
    color: var(--first-color);
  }


  
  /* Muestra el botón hamburguesa */
  .menu-toggle {
      display: block;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 1000;
      cursor: pointer;
  }


  


  #menu .items {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    padding: 0; 
    top: 0;
    left: 0;
    display: none;
    background-color: #fff;
    width: 100%;
    height: 270px;
    padding-top: 70px;
    padding-left: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);


}

.header-list .items li a {
  color: var(--font-first-color);
  padding-top: 20px;
}

.header-list .items li a:hover {
  color: var(--first-color);
}

.header-list .items li a.active {
  color: var(--first-color);
}


.menu-open .header-list {
  display: block;
}

.header-list .icons {
  display: none;
}



/* BANNER */
h1 {
  font-size: 1rem !important; 
}

span {
  font-size: 1.5rem;
}



/* ABOUT */
.container-section {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.img-about {
  margin: 2rem 0;
}

.col-lg-6 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: var(--first-font-family);
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}

#btn-1 {
  display: block; 
  margin: 0 auto;
  margin-top: 1.5rem;
}

.img-about-order1 {
  order: 1;
  margin: 2rem 0;
}

p {
  text-align: center;
}


.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;
}


/* PORTFOLIO */
.projects {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.projects > div {
  width: 100%;  
  margin-bottom: 1rem; 
}

div.container-section.projects {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.projects .see-more-projects {
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.projects .see-more-projects > div {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
}



/* MODAL */
.modal-img {
  width: 80%;
}

.modal-title {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.modal-paragraph {
  font-size: 0.8rem;
}

.see-project {
  font-size: 0.7rem;
}








/* CONTACT */
.contact-item {
  display: flex;
  flex-direction: column;
}

.col-lg-5 {
  margin-bottom: 3rem;
}

.contact-form {
  width: 100%;
 }

 .btn-contact {
  justify-content: center;
  margin-bottom: 2rem;
 }

 .container-btn-about {
  text-align: center;
 }

 .container-section.about p {
  margin-bottom: 2rem;
 }




/* FOOTER */
footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
}


   

}